<div ng-controller="MediaListCtrl" class="menu-container">
<audio media-player="mediaPlayer"></audio>
<ul class="mediaList">
  <li class="tracks" ng-repeat="track in tracks">
    <div >
      <div ng-click="playTrack(track)" class="leftMediaControll">
        <i class="fa fa-play"></i>
      </div>

      <div class="rightMediaControll">
        <i class="fa fa-sort-amount-desc"></i>
      </div>

      <span id="artist">{{track.artist}}</span><br>
      <span id="track">{{track.name}}</span>
    </div>
  </li>
</ul>
</div>
