<div class="container-fixed">
  <div id="sp-nav">
    <div class="menu-container">
      <ul class="topcoat-list">
        <li class="topcoat-list__item">Navigation Item 1</li>
        <li class="topcoat-list__item">Navigation Item 2</li>
        <li class="topcoat-list__item">Navigation Item 3</li>
      </ul>
    </div>
  </div>

  <div id="sp-page">
    <div class="menu">
      <span><i class="fa fa-bars fa-2x" ng-click="$spMenu.toggle()"></i></span>
      <span class="time">10:45</span>
      <span class="satelites">3 sat. <i style="color:orange" class="fa fa-signal fa-2x fa-2x"></i></span>
    </div>

    <div ng-controller="MapCtrl" class="col-xs-10 nopadding">
      <leaflet defaults="defaults" center="center" height="380" width="666px"></leaflet>
    </div>



    <div ng-controller="MediaCtrl">
      <div class="media">
        <audio media-player="mediaPlayer" data-playlist="playlist1">
          <source src="http://upload.wikimedia.org/wikipedia/en/d/d0/Rick_Astley_-_Never_Gonna_Give_You_Up.ogg" type="audio/ogg">
        </audio>
        <span ng-click="mediaPlayer.prev()"><i class="fa fa-backward"></i></span>
        <span ng-click="play()" ng-show="mediaPlayer.playing"><i class="fa fa-pause"></i></span>
        <span ng-click="play()" ng-show="!mediaPlayer.playing"><i class="fa fa-play"></i></span>
        <span ng-click="mediaPlayer.next()"><i class="fa fa-forward"></i></span>
      </div>

      <div class="noplaying nopadding">
      <span>Now playing:
        <span ng-show="!mediaPlayer.playing">
          Nuttn'
        </span>
        <span ng-show="mediaPlayer.playing">
          Rick rolled, bitch.
        </span>
      </span>
      </div>
    </div>


    <div class="col-xs-2 nopadding">
      <div gauges class="" ng-controller="SpeedCtrl"></div>
      <div gauges class="gaugeup" ng-controller="PowerCtrl"></div>
      <div gauges class="gaugeup" ng-controller="PowerCtrl"></div>
      <div gauges class="gaugeup" ng-controller="PowerCtrl"></div>
    </div>


  </div>
</div>
