<div class="container-fixed">
<media-lister id="sp-nav"></media-lister>
<div id="sp-page">
  <div class="menu"> 
    <span><i class="fa fa-bars fa-2x" ng-click="$spMenu.toggle()"></i></span>
    <span class="time" live-time time-locale="no" time-format="HH:mm"></span>
    <span class="satelites">3 sat. <i style="color:orange" class="fa fa-signal fa-2x fa-2x"></i></span>
  </div>

  <div ng-controller="MapCtrl" class="col-xs-10 nopadding">
    <leaflet markers="markers" defaults="defaults" center="center" height="413" width="666px"></leaflet>
  </div>



  <div ng-controller="MediaplayerCtrl" ng-show="songsAvailable">
    <div class="media">
      <audio media-player="mediaPlayer" data-playlist="playlist">
      </audio>
      <span ng-click="mediaPlayer.prev()"><i class="fa fa-backward"></i></span>
      <span ng-click="play()" ng-show="mediaPlayer.playing"><i class="fa fa-pause"></i></span>
      <span ng-click="play()" ng-show="!mediaPlayer.playing"><i class="fa fa-play"></i></span>
      <span ng-click="mediaPlayer.next()"><i class="fa fa-forward"></i></span>
    </div>

    <div class="noplaying nopadding">
      <span class="nowplaying" ng-show="mediaPlayer.playing">Now playing:
        <span ng-show="mediaPlayer.playing">
          {{track.artist}} - {{track.name}}
        </span>
      </span>
    </div>
  </div>


  <div class="col-xs-2 nopadding">
    <div gauges class="" ng-controller="SpeedCtrl"></div>
    <div gauges class="gaugeup" ng-controller="PowerCtrl"></div>
    <div gauges class="gaugeup" ng-controller="PowerCtrl"></div>
    <div gauges class="gaugeup" ng-controller="PowerCtrl"></div>
  </div>


</div>
</div>
